

.tema1_bg, .tema2_bg {
	background: linear-gradient( #2031e9ec, #2031e9ec), url('../images/monedasbw.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}




