
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Podemos Aprender</title>
    <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="css/podemosweb.css">
    <script
    src="https://kit.fontawesome.com/2828f7885a.js"
    integrity="sha384-WAsFbnLEQcpCk8lM1UTWesAf5rGTCvb2Y+8LvyjAAcxK1c3s5c0L+SYOgxvc6PWG"
    crossorigin="anonymous"></script>
</head>

<body>
    <section class="hero is-info is-fullheight tema1">
        <div class="hero-head" >
            <nav class="navbar">
                
                    <div class="navbar-brand">
                        <a class="navbar-item" href="../">
                            <img src="https://www.podemosaprender.org/images/logopodemosaprender.png" alt="Logo">
                        </a>
                        <div class="navbar-burger burger is-white" data-target="navbarMenu">
                          <span></span>
                          <span></span>
                          <span></span>
                        </div>
                        
                    </div>
                    
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                          <span class="navbar-item">
                              
                            <a class="button is-white is-outlined" href="index.html">
                                <span class="icon">
                                    <i class="fas fa-home"></i>
                                </span>
                                <span>Inicio</span>
                            </a>
                        </span>
                        <span class="navbar-item">
                            <a class="button is-white is-outlined" href="index.html#actividades">
                                <span class="icon">
                                  <i class="fa-brands fa-superpowers"></i>
                                </span>
                                <span>Actividades</span>
                            </a>
                        </span>
                        <span class="navbar-item">
                            <a class="button is-white is-outlined" href="index.html#contacto">
                                <span class="icon">
                                    <i class="fa fa-book"></i>
                                </span>
                                <span>Participar</span>
                            </a>
                        </span>
                            
                        </div>
                    </div>
                    
                
            </nav>
            
            </div>

            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="column is-6 is-offset-3">
                        <h1 class="title">
                            Seminario: Planificar, ganar, no perder
                        </h1>
                        <h2 class="subtitle">
                            Fecha: Sábado 3 de septiembre 2022 <br/>Duración: 2 horas
                        </h2>
                        <div class="block">
                         Este seminario está orientado para XXX the best software platform for running an internet business. We handle billions of dollars every year for forward-thinking businesses around the world.
                        </div>
                        <a class="button is-primary is-outlined " href="index.html#participar">
                            <span class="icon">
                                <i class="fa fa-book"></i>
                            </span>
                            <span>Inscripción/preguntas</span>
                        </a>
                    </div>
                </div>
            </div>

    </section>
    <script src="js/showcase.js"></script>
</body>

</html>
