{% extends 'paweb/partes/base.html' %}
{% load static %}


{% block NOhero %}

{% include 'paweb/partes/navbar.html' %}
{% endblock %}

{% block content %}

<div class="section has-background-light" id="actividad">
	<div class="container">
		<div class="nav mb-5">
			<nav class="breadcrumb has-bullet-separator" aria-label="breadcrumbs">
				<ul>
					<li><a href="/index">Inicio</a></li>
					<li><a href="/billetera">Mi cuenta</a></li>
					<li class="is-active"><a href="/historial">Historial</a></li>
				</ul>
			</nav>
		</div>
	</div>

	<div class="content">
		<div class="container">

			<h1 class="title">Historial</h1>
			<p class="subtitle">Tu actividad en PodemosAprender</p>
			<h3>Transacciones</h3>
			<table class="table has-background-info-light is-fullwidth" id="transacciones">
				<thead>
					<tr>
						<th title="ID"><abbr title="">ID</abbr></th>
						<th><abbr title="">De:</abbr></th>
						<th><abbr title="">A:</abbr></th>
						<th><abbr title="">Por:</abbr></th>
						<th><abbr title="">Cuánto:</abbr></th>
						<th><abbr title="">Fecha:</abbr></th>
					</tr>
				</thead>
				<tbody>
					{% for transaccion in transacciones %}
					<tr>
						<th> {{ transaccion.id }}</th>
						<th> {{ transaccion.de_quien }}</th>
						<th> {{ transaccion.a_quien }}</th>
						<th> {{ transaccion.por }}</th>
						<th> {{ transaccion.cuanto }}</th>
						<th> {{ transaccion.fh_creado }}</th>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<br>
			<h3>Productos o servicios</h3>
			<table class="table has-background-info-light is-fullwidth">
				<thead>
					<tr>
						<th>Qué:</th>
						<th>Para: </th>
						<th>Inicio:</th>
						<th>Caché</th>
						<th>Entrega:</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>Arreglo de techo</th>
						<th>Raul</th>
						<th>10-03</th>
						<th>60</th>
						<th>20 días habiles</th>
					</tr>
					<tr>
						<th>Clases de inglés</th>
						<th>Yo</th>
						<th>11-05</th>
						<th>20</th>
						<th>10 días habiles</th>
					</tr>
					<tr class="is-selected">
						<th>Sopa de verduras</th>
						<th>Yo</th>
						<th>11-05</th>
						<th>29</th>
						<th>20 días habiles</th>
					</tr>
				</tbody>

			</table>

		</div>

	</div>



</div>


{% endblock %}