{% extends 'paweb/partes/base.html' %}
{% load static %}

{% block hero %}
	<div class="hero-body">
		<div class="container is-max-desktop has-text-centered">
			<h1 class="title is-1">
				Podemos<span style="font-size: 1px"> </span>Aprender
			</h1>
			<h2 class="subtitle is-4">
				Avanzá tu proyecto y tu carrera<br /> 
				en la práctica.<br /> 
				Con la ayuda de compañeros,<br />
				expertos, potenciales clientes y socios.
		</div>
	</div>
{% endblock %}

{% block content %}
	<div class="section services" id="actividades">
		<div class="container">
				<h1 class="title has-text-centered section-title">Seminarios</h1>
				<h2 class="subtitle has-text-centered">
					En sólo 2hs te vas pudiendo hacer una cosa que sirve, 
					con un panorama completo, aunque empieces de cero.	
				</h2>
			</div>
		</div>



	<section class="container">
		<div class="columns features">
			{% for seminario in seminarios %}
		  <div class="column is-4">
			<div class="card is-shady">
				<header class="card-header">
					
					<h2 class="card-header-title is-size-6">
						<a href="{{ seminario.hashtags }}">{{ seminario.hashtags }}</a> 
					</h2>
					<button class="card-header-icon" aria-label="more options">
					  <span class="icon">
						<a href="" title="Me interesa"><i class="fa-solid fa-heart" aria-hidden="true" alt="corazón"></i></a>
					  </span>
					</button>
				  </header>
				
				<div class="card-image">
				<figure class="image is-4by3">
				  <img src="https://source.unsplash.com/RWnpyGtY1aU" alt="Placeholder image" class="modal-button" data-target="modal-image2">
				</figure>
			  </div>
			  <div class="card-content">
				<div class="content">
				  <h4>{{ seminario.titulo }}</h4>
				  <p>Purus semper eget duis at tellus at urna condimentum mattis. Non blandit massa enim nec. Integer enim neque <br>
				  <b>Fecha de inicio:</b> 12/04/2022</p>
				  <span class="button is-link modal-button" data-target="modal-image2">Inscribirme!</span>
				</div>
			  </div>
			</div>
		  </div>
		  {% endfor %}
		</div>
	  </section>





	<div class="section has-background-gray-lighter" id="practicas">

		<h1 class="title has-text-centered section-title">Prácticas profesionales</h1>

		<h2 class="subtitle has-text-centered">
			Desarrollá y mostrá la experiencia que querés. Llevate un prototipo o producto para mostrar, usando las mejores prácticas.
		</h2>

	</div>

	<div class="section services" id="grupos">
		<div
				class="column about-me mt-3" >
				<h1 class="title has-text-centered section-title">Grupos de Estudio</h1>
				<h2 class="subtitle has-text-centered">
					Se aprende mejor en equipo. Nos reunimos a investigar, probar, y publicar sobre un tema o herramienta.
				</h2>
		</div>
	</div>

	{% include 'paweb/partes/contacto/inicial.html' %}
{% endblock %}
