<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Podemos Aprender</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="css/podemosweb.css">
    <script
    src="https://kit.fontawesome.com/2828f7885a.js"
    integrity="sha384-WAsFbnLEQcpCk8lM1UTWesAf5rGTCvb2Y+8LvyjAAcxK1c3s5c0L+SYOgxvc6PWG"
    crossorigin="anonymous"></script>
</head>
<body>
  <!-- Begin Scroll Up Button -->
  <button onclick="topFunction()" id="toTop" title="Go to top">
    <i class="fas fa-angle-up"></i>
  </button>
  <!-- End Scroll Up Button -->
    <section class="hero is-large is-info tema2" id="home">
        <div class="hero-head" >
            <nav class="navbar">
                
                    <div class="navbar-brand">
                        <a class="navbar-item" href="../">
                           	<div class="logo">PodemosAprender</div> 
                        </a>

                        <div class="navbar-burger burger is-white" data-target="navbarMenu">
                          <span></span>
                          <span></span>
                          <span></span>
                        </div>
                    </div>
                    
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                          <span class="navbar-item">
                              
                            <a class="button is-white is-outlined" href="#">
                                <span class="icon">
                                    <i class="fas fa-home"></i>
                                </span>
                                <span>Inicio</span>
                            </a>
                        </span>
                        <span class="navbar-item">
                            <a class="button is-white is-outlined" href="#actividades">
                                <span class="icon">
                                  <i class="fa-brands fa-superpowers"></i>
                                </span>
                                <span>Actividades</span>
                            </a>
                        </span>
                        <span class="navbar-item">
                            <a class="button is-white is-outlined" href="#contacto">
                                <span class="icon">
                                    <i class="fa fa-book"></i>
                                </span>
                                <span>Participar</span>
                            </a>
                        </span>
                            
                        </div>
                    </div>
                    
                
            </nav>
            
            </div>

            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="column is-6 is-offset-3">
                        <h1 class="title titulo">
                            Podemos Aprender
                        </h1>
                        <h2 class="subtitle">
                            TODO Texto aqui is the best software platform for running an internet business. We handle billions of dollars every year for forward-thinking businesses around the world.
                        </h2>
                        
                    </div>
                </div>
            </div>
    </section>
    <div class="main-content">

      <div class="section-color services" id="actividades">
        <div class="container">
          <div class="columns is-multiline">
            <div
              class="column is-12 about-me" >
              <h1 class="title has-text-centered section-title">Seminarios</h1>

              <h2 class="subtitle has-text-centered">
                Tenemos diversas actividades para lorem ipsum 
              </h2>
              <br />
            </div>
            <div class="columns is-12">
              <div class="card column is-3">
                <div class="card-image">
                  <a link href="finanzas.html">
                    <figure class="image is-square">
                      <img src="images/f_cashflow.png" alt="cashflow">
                    </figure>
                  </a>
                </div>
                <header class="card-header">
                  <p class="card-header-title">
                    Planificar, ganar, no perder <br/>
                  </p>
                  
                </header>
                <div class="content has-text-centered">
                  #finanzas #cashflow

                </div>
              </div>
              <div class="card column is-3">
                <div class="card-image">
                  <a link href="binance.html">
                  <figure class="image is-square">
                    <img src="images/f_binance.png" alt="binance">
                  </figure>
                </a>
                </div>
                <header class="card-header">
                  <p class="card-header-title">
                    Comprar y vender fácil en Binance P2P
                  </p>
                </header>
                <div class="content has-text-centered">
                  #finanzas #crypto
                </div>
              </div>
              <div class="card column is-3">
                <div class="card-image">
                  <a link href="tokens.html">
                  <figure class="image is-square">
                    <img src="images/f_token.png" alt="token">
                  </figure>
                </a>
                </div>
                <header class="card-header">
                  <p class="card-header-title">
                    Cómo crear y usar tokens en la red Ethereum
                  </p>
                </header>
                <div class="content has-text-centered">
                  #blockchain #crypto
                </div>
              </div>
              <div class="card column is-3">
                <div class="card-image">
                  <a link href="hacking.html">
                  <figure class="image is-square">
                    <img src="images/f_hack.png" alt="hack">
                  </figure>
                </a>
                </div>
                <header class="card-header">
                  <p class="card-header-title">
                    Cómo hackear smart-contracts
                  </p>
                </header>
                <div class="content has-text-centered">
                  #blockchain #cripto
                </div>
              </div>
            </div>
            <hr />
            <div
              class="column is-12 about-me mt-3" >
              <h1 class="title has-text-centered section-title">Grupos de Estudio</h1>

              <h2 class="subtitle has-text-centered">
                info para lorem ipsum 
              </h2>
              <br />
            </div>
            <div class="columns is-12">
              <div class="column is-4 has-text-centered">
                <i class="fas fa-upload fa-3x"></i>
                <hr />
                <h2>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua
                </h2>
              </div>
              <div class="column is-4 has-text-centered">
                <i class="fas fa-bus fa-3x"></i>
                <hr />
                <h2>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua
                </h2>
              </div>
              <div class="column is-4 has-text-centered">
                <i class="fas fa-code fa-3x"></i>
                <hr />
                <h2>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua
                </h2>
              </div>
            </div>
            <div
              class="column is-12 about-me" >
              <h1 class="title has-text-centered section-title">Prácticas profesionales</h1>

              <h2 class="subtitle has-text-centered">
                info para lorem ipsum 
              </h2>
              <br />
            </div>

          </div>
        </div>
      </div>
      <!-- End Services Content -->

      <!-- Begin Contact Content -->
      <div class="section-light contact" id="contacto">
        <div class="container">
          <div
            class="columns is-multiline"
            data-aos="fade-in-up"
            data-aos-easing="linear"
          >
            <div class="column is-12 about-me">
              <h1 class="title has-text-centered section-title">
                Inscribite 
              </h1>
            </div>
            <div class="column is-8 is-offset-2">
              <form
                action="#"
                method="POST"
              >
                <div class="field">
                  <label class="label">Nombre</label>
                  <div class="control has-icons-left">
                    <input
                      class="input"
                      type="text"
                      placeholder="Tu nombre"
                      name="Name"
                    />
                    <span class="icon is-small is-left">
                      <i class="fas fa-user"></i>
                    </span>
                  </div>
                </div>
                <div class="field">
                  <label class="label">Email</label>
                  <div class="control has-icons-left">
                    <input
                      class="input"
                      type="email"
                      placeholder="hola@mail.com"
                      name="Email"
                    />
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                  </div>
                </div>
                <div class="field">
                  <label class="label">Mensaje</label>
                  <div class="control">
                    <textarea
                      class="textarea"
                      placeholder="Tu mensaje"
                      name="Message"
                    ></textarea>
                  </div>
                </div>
                <div class="field">
                  <div class="control ">
                    <button class="button submit-button">
                      Enviar&nbsp;&nbsp;
                      <i class="fas fa-paper-plane"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- End Contact Content -->
    </div>
    <!-- End Main Content -->
    
    <script src="js/showcase.js"></script>
</body>

</html>
