{% load static %}
<nav 
	x-data="{ transparentBar: true, isOpen: false }"
	class="navbar is-dark"
	>
	<div class="container">
		<div class="navbar-brand">
			<div class="navbar-item">
				<a href="/" class="is-family-sans-serif">PodemosAprender</a> 
			</div>
			<div class="navbar-burger burger"
					 @click="isOpen= !isOpen"
					 >
					 <span aria-hidden="true" /> <span aria-hidden="true" /> <span aria-hidden="true" />
			</div>
		</div>

		<div id="navbarMenu" class="navbar-menu"
												 :class="{'is-active': isOpen}"
												 >
												 <div class="navbar-end">
													 <span class="navbar-item">
														 <a class="button is-link is-rounded" href="/#">
															 <span class="icon"> <i class="fas fa-home"></i> </span>
															 <span>Inicio</span>
														 </a>
													 </span>
													 <span class="navbar-item">
														 <a class="button is-link is-rounded" href="/#actividades">
															 <span class="icon"> <i class="fa-brands fa-superpowers"></i> </span>
															 <span>Actividades</span>
														 </a>
													 </span>
													 <span class="navbar-item">
														 <a class="button is-link is-rounded" href="/tienda">
															 <span class="icon"> <i class="fa-solid fa-store"></i> </span>
															 <span>Tienda</span>
														 </a>
													 </span>
													 <span class="navbar-item">
														<a class="button is-link is-rounded" href="billetera">
															<span class="icon"> <i class="fa-solid fa-right-to-bracket"></i> </span>
															<span>Login</span>
														</a>
													</span>
												 </div>
		</div>
	</div>
</nav>

